<!doctype html>
<html>
<head>
    <title>roulette</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="leftSec">

  </div>
    <div class="mainSec">
        <h1>Roulette</h1>
        <br>
        <form class="inputSec"method="POST">
          <input class="userSec"type="text" name="cust" value="" placeholder="user">
          <input  class="passwordSec"type="text" name="order" value="" placeholder="password">
          <input  class="buttonSec"type="submit" name="" value="Login">
        </form>
        <div class="loginSec">
          <p>Login or Signup:</p>

          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>
    </div>

</div>
</body>
</html>
